@page "/admin/order/list"
@using BlazorShared.Interfaces.Orders
@using BlazorShared.Models.Orders

@attribute [Authorize(Roles = BlazorShared.Authorization.Constants.Roles.ADMINISTRATORS)]
@inherits BlazorAdmin.Helpers.BlazorComponent


<PageTitle>eShopOnWeb Admin: Order List</PageTitle>

@if (orderList == null)
{
    <Spinner></Spinner>
}
else
{
    <table class="table">
        <thead>
            <tr>
                <th scope="col">#</th>
                <th scope="col">Order Date</th>
                <th scope="col">Client</th>
                <th scope="col">Total Amount</th>
                <th scope="col">Order Stat.</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in orderList)
            {
                <tr>
                    <th scope="row">1</th>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                </tr>
            }
        </tbody>
    </table>
}



@code {
    [Inject]
    IOrderService _orderService { get; set; }

    private List<Order> orderList = new();

    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if (firstRender)
        {
            orderList = await _orderService.List();

            CallRequestRefresh();
        }
        await base.OnAfterRenderAsync(firstRender);
    }

}
